* {
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

canvas {
    background: url("img/bg.jpg") repeat-x;
}

.panel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.644);
    box-shadow: rgba(0, 0, 0, 0.644) 0 0 18px 20px;
    z-index: 10;
}

.squad {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px;
    width: 150px;
    height: 200px;
    border: solid rgba(0, 0, 0, 0.747) 3px;
    border-radius: 20px;
    box-shadow: black 0 0 20px 2px, inset black 0 -25px 20px;
    transition: 0.3s;
}

.squad:hover {
    padding: 2px;
}

.squad_items {
    width: 90%;
    text-align: center;
    margin: 10px;
}

.squad_health,
.squad_stamina {
    margin-top: 5px;
    width: 100%;
    height: 8px;
    border: solid rgba(255, 0, 0, 0.671) 1px;
    border-radius: 10px;
    box-shadow: red 0 0 7px;
    overflow: hidden;
}

.squad_stamina {
    border: solid rgb(22, 62, 194) 1px;
    box-shadow: rgb(22, 62, 194) 0 0 7px;
}

.state_health,
.state_stamina {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.5);
}

.state_stamina {
    background: rgb(22, 62, 194);
}

.squad_character {
    color: rgb(4, 151, 4);
    text-transform: uppercase;
    font-weight: 900;
    font-size: large;
    text-shadow: 0 0 3px black, 0 0 1em rgb(255, 0, 0), 0 0 2em rgb(255, 0, 0);
}

.squad_arrow {
    background: url('img/arrow.jpg') no-repeat 1%;
    background-size: 100%;
}

.squad_cavalry {
    background: url('img/cavalry.jpg') no-repeat;
    background-size: 100%;
}

.btn {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: solid rgba(24, 83, 24, 0.527) 3px;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.btn::after {
    position: absolute;
    content: "+";
    color: rgba(24, 83, 24, 0.527);
    font-size: 6ch;
    top: -15px;
    left: -3px;
}